[submodule "Requirements/RSEM"]
	path = Requirements/RSEM
	url = https://github.com/deweylab/RSEM.git
[submodule "Requirements/STAR"]
	path = Requirements/STAR
	url = https://github.com/alexdobin/STAR.git
