#
# This is a configuration example for Luigi and the RNA-Seq pipeline.
#

#
# This section contains scheduler resources dedicated to the pipeline
# execution.
#

[resources]
# in number of available CPUs
cpus=16
# in gigabytes
memory=32
geo_ftp_connections=4
edirect_http_connections=4
array_express_http_connections=4
gemma_connections=4
sra_connections=4
# If you specify the 'slurm' scheduler in Bioluigi, you must set this resource
slurm_jobs=384

[bioluigi]
scheduler=slurm
scheduler_extra_args=["--partition", "Cargo"]
prefetch_bin=Requirements/sratoolkit.2.9.6-1-centos_linux64/bin/prefetch
fastqc_bin=Requirements/FastQC-0.11.8/FastQC

#
# This section contains the necessary variables for the pipeline execution
#

[rnaseq_pipeline]
ASSEMBLIES=Assemblies

# pipeline output directories (relative to OUTPUT_DIR)
OUTPUT_DIR=pipeline-output
METADATA=metadata
DATA=data
DATAQCDIR=data-qc
ALIGNDIR=aligned
ALIGNQCDIR=aligned-qc
QUANTDIR=quantified

# prefetch
PREFETCH_ARGS=
SRA_PUBLIC_DIR=

# fastq-dump
FASTQDUMP_EXE=Requirements/sratoolkit.2.9.6-1-centos_linux64/bin/fastq-dump

# STAR
STAR_PATH=Requirements/STAR/bin/Linux_x86_64

# RSEM
RSEM_DIR=Requirements/RSEM

# Gemma integrations
JAVA_HOME=
JAVA_OPTS=
GEMMACLI=gemmaCli.sh
GEMMA_LIB=
