[Unit]
Description=PavLab RNA-Seq Pipeline
Requires=luigid.service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/space/grp/Pipelines/rnaseq-pipeline
ExecStart=/space/grp/poirigui/miniconda3/condabin/conda run --no-capture-output -p /space/grp/Pipelines/rnaseq-pipeline/env submit-experiments-from-gsheet --spreadsheet-id 17xm2eFFqhhT-M6-jTC_lsar7RMgk8Ln-TwQPDWlRfIY --sheet-name RNA-SEQ --workers 200
User=poirigui

[Install]
WantedBy=multi-user.target
