[Unit]
Description=PavLab RNA-Seq Pipeline Viewer
Requires=luigid.service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c "conda run --no-capture-output -p $CONDA_ENV gunicorn -e SCRIPT_NAME=/rnaseq-pipeline -b 0.0.0.0:8000 rnaseq_pipeline.webviewer:app --access-logfile pipeline-output/webviewer-logs/access.log --error-logfile pipeline-output/webviewer-logs/error.log"

[Install]
WantedBy=multi-user.target
