## Common directories
USERNAME=$(whoami)

ROOT_DIR="/home/$USERNAME/development/rnaseq-pipeline"
ASSEMBLIES="$ROOT_DIR/Assemblies"
REQUIREMENTS="$ROOT_DIR/Requirements"
DATA="$ROOT_DIR/Data"

## Common tools
WONDERDUMP_EXE="$REQUIREMENTS/wonderdump.sh"

## RSEM Specific
RSEM_DIR="$REQUIREMENTS/RSEM"
FASTQDUMP_EXE="$REQUIREMENTS/sratoolkit.2.5.0-centos_linux64/bin/fastq-dump"

## STAR Specific
STAR_PATH="$REQUIREMENTS/STAR/bin/Linux_x86_64_static"
STAR_EXE="$STAR_PATH/STAR"
STAR_DEFAULT_REFERENCE="$ASSEMBLIES/runtime/mouse_ref38/mouse_0/"
STAR_REFERENCE_GTF="$ASSEMBLIES/Mus_musculus/NCBI/GRCh38/Annotation/Genes/genes.gtf"
STAR_MAX_BAM_RAM="33000000000"

## Resources
NCPU="$(grep -c ^processor /proc/cpuinfo)"
NCPU_NICE=$(echo "sqrt ( $NCPU )" | bc -l | cut -f1 -d".")
MAX_CPU_LOAD="800%"

## Runtime parameters                 
DEFAULT_MATE_SOURCE="_R1"
DEFAULT_MATE_REPLACEMENT="_R2"