[Unit]
Description=PavLab RNA-Seq Pipeline Viewer
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/space/grp/Pipelines/rnaseq-pipeline
ExecStart=/space/grp/Pipelines/rnaseq-pipeline/scripts/webviewer
User=poirigui

[Install]
WantedBy=multi-user.target
