name: Python Package using Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
    defaults:
      run:
        shell: bash -el {0}

    steps:
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: rnaseq-pipeline
        environment-file: environment.yml
    - name: Install package
      run: |
        pip install .[gsheet,webviewer]
    - name: Build shm cleanup script
      run: |
        make -C scripts
    - name: Configure the pipeline
      run: |
        cp tests/luigi.cfg ./
    - name: Test with pytest
      run: |
        conda install pytest
        pytest --ignore tests/test_webviewer.py
